.maintitle {
  display: inline-block;
}

button a {
  font-size: 2em;
  color: white;
}

li {
  list-style: none;
  display: inline-block;
}

ul {
  padding: 0;
}

.main {
  background-color: #E8EAED;
  margin-left: 0;
  margin-right: 0;
}

.leftcolumn, .rightcolumn {
  border: 1px solid gray;
  background-color: #FEFEFE;
}

.feed_panel {
  border: 1px solid gray;
  background-color: #FEFEFE;
  margin-bottom: 5px;
}
